<!DOCTYPE html><html lang="en" data-bs-theme="dark"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>StreamIT | Responsive Bootstrap 5 Template</title>
  <!-- Google Font Api KEY-->
  <meta name="google_font_api" content="AIzaSyBG58yNdAjc20_8jAvLNSVi9E4Xhwjau_k">
  
  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico">
  
  <!-- Library / Plugin Css Build -->
  <link rel="stylesheet" href="css/libs.min.css">
  
  <!-- font-awesome css -->
  <link rel="stylesheet" href="css/all.min.css">
  
  <!-- Iconly css -->
  <link rel="stylesheet" href="css/style.css">
  
  <!-- Animate css -->
  <link rel="stylesheet" href="css/animate.min.css">
  
  
  
  
  
  
  <!-- Streamit Design System Css -->
  <link rel="stylesheet" href="css/streamit.min.css">
  
  <!-- Custom Css -->
  <link rel="stylesheet" href="css/custom.min.css">
  
  <!-- Rtl Css -->
  <link rel="stylesheet" href="css/rtl.min.css">
  
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="css/css2.css" rel="stylesheet">
  
</head>

<body class="  ">
  <span class="screen-darken"></span>
  <!-- loader Start -->
   <!-- loader Start -->
  <div class="loader simple-loader">
     <div class="loader-body">
        <img src="images/loader.gif" alt="loader" class="img-fluid " width="300">
      </div>
  </div>
  <!-- loader END -->  <!-- loader END -->
  <main class="main-content">
    <!--Nav Start-->
    <%- include('header.ejs') %>
      <!--Nav End-->

      <!--bread-crumb-->
      <div class="iq-breadcrumb" style="background-image: url(images/01_11.webp);">
         <div class="container-fluid">
            <div class="row align-items-center">
                  <div class="col-sm-12">
                      <nav aria-label="breadcrumb" class="text-center">
                          <h2 class="title">Cast</h2>
                          <ol class="breadcrumb justify-content-center">
                              <li class="breadcrumb-item"><a href="index.html">Home</a></li> 
                              <li class="breadcrumb-item active">Cast</li>
                          </ol>
                      </nav>
                  </div>
              </div> 
         </div>
      </div>      <!--bread-crumb-->

    <section class="section-padding">
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 row-cols-xl-6">
                <div class="col">
                    <div class="iq-cast">
                      <img src="images/01_3.webp" class="img-fluid" alt="castImg">
                      <div class="card-img-overlay iq-cast-body">
                        <h6 class="cast-title fw-500">
                          <a href="person-detail.html">
                            Debbi
                                    Bossi
                          </a>
                        </h6>
                        <span class="cast-subtitle">
                          Production
                        </span>
                      </div>
                    </div>                </div>
                <div class="col">
                    <div class="iq-cast">
                      <img src="images/02_2.webp" class="img-fluid" alt="castImg">
                      <div class="card-img-overlay iq-cast-body">
                        <h6 class="cast-title fw-500">
                          <a href="person-detail.html">
                            Karen
                                    Gilchrist
                          </a>
                        </h6>
                        <span class="cast-subtitle">
                          Production
                        </span>
                      </div>
                    </div>                </div>
                <div class="col">
                    <div class="iq-cast">
                      <img src="images/03_3.webp" class="img-fluid" alt="castImg">
                      <div class="card-img-overlay iq-cast-body">
                        <h6 class="cast-title fw-500">
                          <a href="person-detail.html">
                            James
                                    Chinlund
                          </a>
                        </h6>
                        <span class="cast-subtitle">
                          Art
                        </span>
                      </div>
                    </div>                </div>
                <div class="col">
                    <div class="iq-cast">
                      <img src="images/04_6.webp" class="img-fluid" alt="castImg">
                      <div class="card-img-overlay iq-cast-body">
                        <h6 class="cast-title fw-500">
                          <a href="person-detail.html">
                            Brenda
                                    Chapman
                          </a>
                        </h6>
                        <span class="cast-subtitle">
                          Writing
                        </span>
                      </div>
                    </div>                </div>
                <div class="col">
                    <div class="iq-cast">
                      <img src="images/05_6.webp" class="img-fluid" alt="castImg">
                      <div class="card-img-overlay iq-cast-body">
                        <h6 class="cast-title fw-500">
                          <a href="person-detail.html">
                            Mark
                                    Livolsi
                          </a>
                        </h6>
                        <span class="cast-subtitle">
                          Editing
                        </span>
                      </div>
                    </div>                </div>
                <div class="col">
                     <div class="iq-cast">
                       <img src="images/06_4.webp" class="img-fluid" alt="castImg">
                       <div class="card-img-overlay iq-cast-body">
                         <h6 class="cast-title fw-500">
                           <a href="person-detail.html">
                             Caleb
                                     Deschannel
                           </a>
                         </h6>
                         <span class="cast-subtitle">
                           Camera
                         </span>
                       </div>
                     </div>                </div>
                <div class="col">
                    <div class="iq-cast">
                      <img src="images/02_2.webp" class="img-fluid" alt="castImg">
                      <div class="card-img-overlay iq-cast-body">
                        <h6 class="cast-title fw-500">
                          <a href="person-detail.html">
                            Hans
                                    Zimmer
                          </a>
                        </h6>
                        <span class="cast-subtitle">
                          Sound
                        </span>
                      </div>
                    </div>                </div>
                <div class="col">
                   <div class="iq-cast">
                     <img src="images/01_3.webp" class="img-fluid" alt="castImg">
                     <div class="card-img-overlay iq-cast-body">
                       <h6 class="cast-title fw-500">
                         <a href="person-detail.html">
                           John
                                   Bartnicki
                         </a>
                       </h6>
                       <span class="cast-subtitle">
                         Production
                       </span>
                     </div>
                   </div>                </div>
                <div class="col">
                    <div class="iq-cast">
                      <img src="images/04_6.webp" class="img-fluid" alt="castImg">
                      <div class="card-img-overlay iq-cast-body">
                        <h6 class="cast-title fw-500">
                          <a href="person-detail.html">
                            Jeffrey
                                    Silver
                          </a>
                        </h6>
                        <span class="cast-subtitle">
                          Production
                        </span>
                      </div>
                    </div>                </div>
                <div class="col">
                   <div class="iq-cast">
                     <img src="images/05_6.webp" class="img-fluid" alt="castImg">
                     <div class="card-img-overlay iq-cast-body">
                       <h6 class="cast-title fw-500">
                         <a href="person-detail.html">
                           Linda
                                   Wolverton
                         </a>
                       </h6>
                       <span class="cast-subtitle">
                         Writing
                       </span>
                     </div>
                   </div>                </div>
                <div class="col">
                   <div class="iq-cast">
                     <img src="images/06_4.webp" class="img-fluid" alt="castImg">
                     <div class="card-img-overlay iq-cast-body">
                       <h6 class="cast-title fw-500">
                         <a href="person-detail.html">
                           Johnathon
                                   Roberts
                         </a>
                       </h6>
                       <span class="cast-subtitle">
                         Writing
                       </span>
                     </div>
                   </div>                </div>
                <div class="col">
                    <div class="iq-cast">
                      <img src="images/01_3.webp" class="img-fluid" alt="castImg">
                      <div class="card-img-overlay iq-cast-body">
                        <h6 class="cast-title fw-500">
                          <a href="person-detail.html">
                            Irene
                                    Mecchi
                          </a>
                        </h6>
                        <span class="cast-subtitle">
                          Writing
                        </span>
                      </div>
                    </div>                </div>
            </div>
            <div class="text-center">
                <div class="iq-button">
                    <a href="javascript:void(0)" class="btn text-uppercase position-relative">
                        <span class="button-text">load more</span>
                        <i class="fa-solid fa-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
  </main>

  <footer class="footer footer-default">
    <div class="container-fluid">
      <div class="footer-top">
        <div class="row">
          <div class="col-xl-3 col-lg-6 mb-5 mb-lg-0">
            <div class="footer-logo">
                <!--Logo -->
                 <div class="logo-default">
                     <a class="navbar-brand text-primary" href="index.html"> 
                         <img class="img-fluid logo" src="images/logo.webp" loading="lazy" alt="streamit">
                     </a>
                 </div>
                 <div class="logo-hotstar">
                     <a class="navbar-brand text-primary" href="index.html"> 
                         <img class="img-fluid logo" src="images/logo-hotstar.webp" loading="lazy" alt="streamit">
                     </a>
                 </div> 
                 <div class="logo-prime">
                     <a class="navbar-brand text-primary" href="index.html"> 
                         <img class="img-fluid logo" src="images/logo-prime.webp" loading="lazy" alt="streamit">
                     </a>
                 </div> 
                 <div class="logo-hulu">
                     <a class="navbar-brand text-primary" href="index.html"> 
                         <img class="img-fluid logo" src="images/logo-hulu.webp" loading="lazy" alt="streamit">
                     </a>
                 </div>
            </div>
            <p class="mb-4 font-size-14">Email us: <span class="text-white">customer@streamit.com</span>
            </p>
            <p class="text-uppercase letter-spacing-1 font-size-14 mb-1">customer services</p>
            <p class="mb-0 contact text-white">+ (480) 555-0103</p>
          </div>
          <div class="col-xl-2 col-lg-6 mb-5 mb-lg-0">
            <h4 class="footer-link-title">Quick Links</h4>
            <ul class="list-unstyled footer-menu">
              <li class="mb-3">
                <a href="about-us.html" class="ms-3">about us</a>
              </li>
              <li class="mb-3">
                <a href="blog-listing.html" class="ms-3">Blog</a>
              </li>
              <li class="mb-3">
                <a href="pricing-plan.html" class="ms-3">Pricing Plan</a>
              </li>
              <li>
                <a href="faq.html" class="ms-3">FAQ</a>
              </li>
            </ul>
          </div>
          <div class="col-xl-2 col-lg-6 mb-5 mb-lg-0">
            <h4 class="footer-link-title">Movies to watch</h4>
            <ul class="list-unstyled footer-menu">
              <li class="mb-3">
                <a href="view-all-movie.html" class="ms-3">Top trending</a>
              </li>
              <li class="mb-3">
                <a href="view-all-movie.html" class="ms-3">Recommended</a>
              </li>
              <li>
                <a href="view-all-movie.html" class="ms-3">Popular</a>
              </li>
            </ul>
          </div>
          <div class="col-xl-2 col-lg-6 mb-5 mb-lg-0">
            <h4 class="footer-link-title">About company</h4>
            <ul class="list-unstyled footer-menu">
              <li class="mb-3">
                <a href="contact-us.html" class="ms-3">contact us</a>
              </li>
              <li class="mb-3">
                <a href="privacy-policy.html" class="ms-3">privacy policy</a>
              </li>
              <li>
                <a href="terms-of-use.html" class="ms-3">Terms of use</a>
              </li>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-6">
            <h4 class="footer-link-title">Subscribe Newsletter</h4>
            <div class="mailchimp mailchimp-dark">
              <div class="input-group mb-3 mt-4">
                <input type="text" class="form-control mb-0 font-size-14" placeholder="Email*" aria-describedby="button-addon2">
                <div class="iq-button">
                  <button type="submit" class="btn btn-sm" id="button-addon2">Subscribe</button>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center mt-5">
              <span class="font-size-14 me-2">Follow Us:</span>
                <ul class="p-0 m-0 list-unstyled widget_social_media">
                  <li class="">
                    <a href="login.html" class="position-relative">
                      <i class="fab fa-facebook"></i>
                    </a>
                  </li>
                  <li class="">
                    <a href="index_1.html" class="position-relative">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li class="">
                    <a href="index_2.html" class="position-relative">
                      <i class="fab fa-github"></i>
                    </a>
                  </li>
                  <li class="">
                    <a href="index_3.html" class="position-relative">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom border-top">
        <div class="row align-items-center">
          <div class="col-md-6">
            <ul class="menu list-inline p-0 d-flex flex-wrap align-items-center">
              <li class="menu-item">
                <a href="#"> Terms Of Use </a>
              </li>
              <li id="menu-item-7316" class="menu-item">
                <a href="privacy-policy.html"> Privacy-Policy </a>
              </li>
              <li class="menu-item">
                <a href="faq.html"> FAQ </a>
              </li>
              <li class="menu-item">
                <a href="playlist.html"> Watch List </a>
              </li>
            </ul>
            <p class="font-size-14">© <span class="currentYear"></span> <span class="text-primary">STREAMIT</span>. All Rights Reserved. All videos and shows on this platform are trademarks of, and all related images and content are the property of, Streamit Inc. Duplication and copy of this is strictly prohibited. All rights reserved. </p>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3">
            <h6 class="font-size-14 pb-1">Download Streamit Apps </h6>
            <div class="d-flex align-items-center">
              <a class="app-image" href="#">
                <img src="images/google-play.webp" loading="lazy" alt="play-store">
              </a>
              <br>
              <a class="ms-3 app-image" href="#">
                <img src="images/apple.webp" loading="lazy" alt="app-store">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div id="back-to-top" style="display: none;">
     <a class="p-0 btn bg-primary btn-sm position-fixed top border-0 rounded-circle text-white" id="top" href="#top">
        <i class="fa-solid fa-chevron-up"></i>
     </a>
  </div>
  <!-- Wrapper End-->
  <!-- Library Bundle Script -->
  <script src="js/libs.min.js"></script>
  <!-- Plugin Scripts -->
  
  
  
  
  
  
  <!-- Lodash Utility -->
  <script src="js/lodash.min.js"></script>
  <!-- External Library Bundle Script -->
  <script src="js/external.min.js"></script>
  <!-- countdown Script -->
  <script src="js/countdown.js"></script>
  <!-- utility Script -->
  <script src="js/utility.js"></script>
  <!-- Setting Script -->
  <script src="js/setting.js"></script>
  <script src="js/setting-init.js" defer=""></script>
  <!-- Streamit Script -->
  <script src="js/streamit.js" defer=""></script>
  <script src="js/swiper.js" defer=""></script>


</body></html>